h1 {
    color: orange;
    font-family: sans-serif;
    font-size: 65px;
}

li {
    background-color: blue;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
}

.change-color {
    background-color: gray;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}

body {
    font-size: 16px;
}

.yellow {
    background-color: yellow;
    color: #000;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}